.footer {
    background-color: white;
    color: #000000;
    text-align: center;
    padding: 8px 0;
    font-size: 0.9rem;
    font-weight: 400;
    box-shadow: 0 0 12px 0px #000000 inset;

    p {
        margin: 0;
        letter-spacing: 0.5px;
    }
}